body {
    background-color: black;

}


span {
    color: cadetblue;
    font-size: 7rem;
}

span1 {
    color: black(255, 174, 0);
    font-size: 1.5rem;
    font-family: monospace;
}

h2 {
    font-family: monospace;
}

#checkbo {
    border: 3px solid white;
}

#link {
    font-family: monospace;
}
